* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #692afa;
  padding: 0 2%;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #31176e;
  border-radius: 20px;
  -webkit-box-shadow: -1px 6px 12px -1px #000000;
  box-shadow: -1px 6px 12px -1px #000000;
  padding: 2%;
 }

.container h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
  font-weight: 200;
}

form .screen {
  width: 100%;
  text-align: center;
  padding: 15px 1%;
  height: 50px;
  max-width: 350px;
  margin: 0 auto;
  background-color: #1e113d;
  margin-bottom: 20px;
}

.screen > span {
  font-size: 18px;
  color: white;
}

.wraper-lable {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 20px;
  padding: 0 2%;
}

form label {
  color: white;
}

.wraper-submit{
  display: flex;
  justify-content: center;
}

.create {
  width: 100%;
  max-width: 250px;
  font-size: 20px;
  margin: 2vh;
  padding: 5px;
  color: white;
  background-color: #692afa;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
